@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,500&family=Josefin+Sans:wght@300;600&family=Poppins&family=Roboto+Slab&family=Rubik+Beastly&family=Rubik:wght@300&family=Smooch&display=swap');
*{
  margin: 0;
  box-sizing:border-box;
  font-family: 'Poppins','Rubik';
  scroll-behavior: smooth;
}
.container{
  background-color: rgb(150, 186, 201);
  height: 100vh;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.logo{
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  padding-left: 20px;
}
.nav{
  text-align: center;
}
.nav a{
  height: 50vh;
  width: 50%;
  
  text-decoration: none;
  color: #fff;
  padding-left: 30px;
}
.nav a:hover{
    opacity: 80%;
    
}

h2{
  text-align: right;
  padding-right: 20px;
  font-size: 32px;
  color: rgb(160, 117, 53);
}
h3{
  font-size: 25px;
}
footer{
  text-align: center;
}